<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

    <title>YoursTutor</title>
		<!-- Loading third party fonts -->
    <link href="http://fonts.googleapis.com/css?family=Arvo:400,700|" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='fonts/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
		<!-- Loading main css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='idStyle.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='yourstutor.png') }}">

    <script src="https://kit.fontawesome.com/417090db95.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="site-content">
			<header class="site-header">
				<div class="primary-header">
					<div class="container">
						<a href="index.html" id="branding">
							<img id="Tlogo" src="{{ url_for('static', filename='yourstutor.png') }}" alt="YT">
							<h1 class="site-title"><!--YoursTutor--></h1>
						</a> <!-- #branding -->

						<div class="main-navigation">
							<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
							<ul class="menu">
								<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
								<li class="menu-item"><a href="/tutor/register">Become a tutor</a></li>
								<li class="menu-item"><a href="tutprof.html">Tutor profile</a></li>
						<!--		<li class="menu-item"><a href="">Admin</a></li>  -->

							</ul> <!-- .menu -->
						</div> <!-- .main-navigation -->

						<div class="mobile-navigation"></div>
					</div> <!-- .container -->
				</div> <!-- .primary-header -->

				<div class="home-slider">
					<div class="container">
						<div class="slider">
							<ul class="slides">

                                <div class="container">
                                    <div class="nv" id="notes"><h1>Learn Live <strong>Online</strong> and <strong>Offline</strong></h1>
                                     <div class="">
          	<h5 class="subtag">&#10004 From Kerala's Best Teachers</h5>
            <h5 class="subtag">&#10004 In English or Your Preferred Language</h5>
            <h5 class="subtag">&#10004 Available as your preference</h5>
            <div style="margin-top: 80px;">
            <h4 id="var">Qualified and Verified Tutors</h4>
            <p>Yourstutor provide best home , online tuitions and training for overall development of the students.</p>
          </div>
          </div>
                                    </div>
<div class="nv" id="nv">
  <div class="list-group">
    <a href="tutprof.html" class="list-group-item">Tutor profile</a>
    <a href="tutorReg.html" class="list-group-item">Become A Tutor</a>
  </div>
                                    </div>

</div>





							</ul>
                            <!-- .slides -->
						</div>
                        <!-- .slider -->
					</div>
                    <!-- .container -->
				</div>
                <!-- .home-slider -->
			</header>
		</div>

		<main class="main-content">
			<div class="fullwidth-block">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<h2 class="section-title"><i class=""></i> Home Tuition</h2>
							<ul class="posts">
								<li class="post">
									<h3 class="entry-title"><a href="#">Get Personalized Attention: With 40-50 students in a class, the teacher is not able to give personal attention to every student.</a></h3>

								</li>
								<li class="post">
									<h3 class="entry-title"><a href="#"></a></h3>
									<h3 class="entry-title"><a href="#"> Involvement of Parents</a></h3>

								</li>
								<li class="post">
									<h3 class="entry-title"><a href="#">Freedom to Ask Questions</a></h3>

								</li>
							</ul>

						</div>
						<div class="col-md-4">
							<h2 class="section-title"><i class=""></i> IELTS </h2>
							<ul class="posts">
								<li class="post">
									<h3 class="entry-title"><a href="#">You will gain better knowledge of the English language and enhance your own set of skills. With expert tutors, you will improve your skills in reading, writing, listening, and speaking English.</a></h3>

								</li>
							</ul>

						</div>
						<div class="col-md-4">
							<h2 class="section-title"><i class=""></i> Entrance </h2>
							<ul class="posts">
								<li class="post">
									<h3 class="entry-title"><a href="#">Entrance coaching for most of the exams.</a></h3>

								</li>
								<li class="post">
									<h3 class="entry-title"><a href="#">Subjects: Physics, Chemistry, Computer, Mathematics and Biology.</a></h3>

								<li class="post">
									<h3 class="entry-title"><a href="#">Learn from your home. Video theory classes, detailed study notes</a></h3>

								</li>
							</ul>

						</div>
					</div>
                    <!-- .row -->
				</div>
			</div>
            <!-- .fullwidth-block -->

           	</main>





		<footer class="site-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="widget">
							<h3 class="widget-title">Contact us</h3>
							<address>YoursTutor <br></address>

							<a href="mailto:theyourstutor@gmail.com">theyourstutor@gmail.com</a> <br>
							<a href="tel:+919074569745">+919074569745</a>
						</div>
					</div>
					<div class="col-md-3">
						<div class="widget">
							<h3 class="widget-title">Social media</h3>
							<p>Send your feedback and queries on</p>
							<div class="social-links circle">

									<a style="color: rgb(24, 34, 173);" href="https://www.facebook.com/Yourstutor-103362767684112/" class=""><i class="fab fa-facebook-f fa-2x"></i></a>

								<a style="margin-top: 0px; color: rgb(221, 104, 26);" href="https://www.instagram.com/yourstutor_/"><i class="fab fa-instagram fa-2x"></i></a>
						<!--		<a href="#"><i class="fa fa-pinterest"></i></a>  -->
							</div>
						</div>
					</div>






				</div>

				<div class="copy"></div>
			</div>

		</footer>

		<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
		<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>